.findLocation {
    height: 100%;
    
    .addLeftBtn {
        width: 30px;
        height: 30px;
        border: none;
        background-color: white;

        img {
            width: 25px;
            height: 25px;
        }
    }
    
    #mapWrapper{
        margin: 0 auto;
        height: 400px;
    }

    .locationWrapper{
        height: 40px;
        width: 400px;
    }

    .mapSubmit{
        border: none;
        width: 400px;
        height: 40px;
        border-radius: 100px;
        background-color: rgb(163, 162, 162);
        color: white;
    }

    .locationWrapper{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: left;
        margin-left: 20px;
        font-weight: bold;

    }



}