.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loginExplain{
        font-size: 28px;
        font-weight: 800;
        flex-direction: row;
        text-align: center;
        position: relative;
        margin-top: 90px;
        margin-bottom: 20px;
        .loginExplainImg{
            width: 300px;
            height: 300px;
            background-image: url("../../assets/Shakehand.png");
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
        }
    }
    .loginTwoway{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .TwoLogin{
            &:nth-child(1){
                background-color: yellow;
            }
            &:nth-child(2){
                background-color: #F00E0F;
            }
            text-decoration: none;
            width: 330px;
            height: 40px;
            border-radius: 30px;
            text-align: center;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }
    .loginToSignUp{
        width: 305px;
        height: 305px;
        text-align: center;
        position: relative;
        margin-top: 15px;
    }
    .hasLink{
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }
    #formalLogin{
        color: white;
        p{
            margin: 0px;
        }
    }
}


