.AddItem{
    height: 100%;
    position: relative;
    z-index: 1;

}


.inputdiv{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:  0 auto;
    text-align: left;
}

.AddItem .addLeftBtn{
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
}
.addLeftBtn img{
    width: 25px;
    height: 25px;

}

.AddItem .add_RightBtn{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
}


.inputdiv span{
    margin-bottom: 30px;
    color: rgb(165, 165, 165);
    font-weight: bold;

}

.inputdiv input{
    border: none; 
    border-bottom: 1px solid rgb(165, 165, 165);
    margin-bottom: 20px;
}

.AddItem .picture_Btn{
    width: 70px;
    height: 70px;
    background-color: rgb(225, 225, 225);
    margin-right: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}


.checkboxA, .checkboxB{
    display: flex;
    height: 50px;
}
.checkboxA label, .checkboxB label{
    display: flex;
}



.checkboxA span, .checkboxB span{
    color: black;
    height: 100%;
    margin-right: 10px;
}

.checkboxB{
    justify-content: space-between;
}

#inputgray{
    color: gray;
    font-size: 13px;
}

input[type="checkbox"] {
    appearance: none;  /*사용자 지정 모양 사용*/
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 10px;  
    width: 20px; 
    height: 20px;
    border: 2px solid red; 
    border-radius: 50%; 
    outline: none; 
    cursor: pointer; 
}

input[type="checkbox"]:checked {
    background-color: red; /* 체크된 상태의 배경색을 빨간색으로 설정합니다. */
}

input[type="checkbox"]:checked::after {
    content: '\2713'; /* 체크 마크 */
    font-size: 16px;
    color: white;
    position: relative;
    top: -4px;
    left: 2px;
}

.locationDiv{
    display: flex;
}

#locationInput{
    border: 1px solid rgb(198, 198, 198);
    margin-left: 80px;
    width: 280px;
    height: 30px;
    border-radius: 10px;
}

.searchDiv{
    display: flex;
    position: absolute;
    color: rgb(198, 196, 196);
    width: 90px;
    height: 30px;
    right: 10px;
    font-size: 15px;
    font-weight: 100;
    align-items: center;
}

.explanationSpan{
    font-size: 15px ;
}

textarea{
    resize: none;
    height: 300px;
    border-radius: 5px;
}

textarea::placeholder{
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    color: rgb(152, 152, 152);
}




