.formalLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .formalLogin .form_FormalLogin {
    width: 330px;
    height: 85px;
    margin-top: 15px;
  }

  .formalLogin .form_FormalLogin  label {
    color: #B2B2B2;
  }

  .formalLogin .form_FormalLogin  input {
    width: 330px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.formalLoginBtn {
    margin-top: 30px;
    width: 330px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    background-color: #F00E0F;
    color: white;
  }

